.card-icon-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.content .container .layout.card-sub {
  margin-top: -20px;
  opacity: 0.8;
}

.btn.card-button {
  border-width: 3px;
  margin: 6px 3px;
}